{%extends 'all_images/base.html'%}
{% block content %} 
{{ block.super}}

        <div class='container'>
               
                <div class="row">
                        <div class="card" style="width:56%;margin-left: 30%">
                        {% for image in images %}
                        <div class="card mb-3">
                                        <a href="{% url 'profile' image.user.id %}"><h3 class="card-header">{{image.user.username}}</h3></a>
                                        <a href="{% url 'image' image.id %}"><img src="{{image.image.url}}" class="img-responsive  card-body" alt="Image" style="width:100%;margin-left: 0%;margin-top:15px;"></a>
                                     
                        </div>
                                {% for comment in image.comment_set.all%}
                                        <p>{{comment.comment}}</p>
                                {% endfor%}
                                
                        {% empty %}
                                <div class="row">
                                <h2 class="text-center">There Are No Images</h2>
                                </div>
                        {% endfor %}
                </div>
                </div> 
        </div> 
{% endblock %}
