{%extends 'all_images/base.html'%}
{% block content %} 
{{ block.super}}
<div class="w3-card-6" style="width:56%">
        <div class='container'>
                </div> 
                <div>
                        {% for image in images %}
                                
                                <div class="col-md-5">
                                        <a href="{% url 'image' image.id %}"><img src="{{image.image.url}}" class="img-responsive" alt="Image" style="width:100%;margin-left: 0%;margin-top:15px; "></a>
                                      </div>

                               
                                
                        {% empty %}
                                <div class="row">
                                <h2 class="text-center">There Are No Images</h2>
                                </div>
                        {% endfor %}
                        {% for comment in comments%}
                        <p>comments:{{comment.comment}}</p>
                {% endfor%}
                </div>
</div> 
{% endblock %}
