{%extends 'all_images/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <img src="{{image.image.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <p>name:{{image.image_name}}</p>
   </div>

   <div class="row">
      {% autoescape on %}
     <p>caption:{{image.image_caption| safe}}</p>
     {% endautoescape %}
   </div>

   <div class="row">
     <p>Posted {{image.pub_date|timesince}} by {{image.profile.user.username}}</p>
   </div>
      {% for com in comments %}
      <p>{{com.comment}}</p>
      {% endfor %}
      <a href="{% url 'comment' image.id %}">add a comment</a>
 </div>

 {% endblock %}